:root {
  --bg-text-color: rgb(255, 255, 255);
  --font-color: rgb(0, 0, 0);
  --bg-color: #009124;
  /* --comic-font-family: "Comic Neue", cursive; */
  --comic-font-family: "Inter", sans-serif;
  --normal-font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
