.Translation {
  display: flex;
  flex-direction: row;
}

.Card {
  background-color: var(--bg-text-color);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.TranslationArea {
  font: inherit;
  font-family: var(--comic-font-family);
  font-weight: 700;
  font-size: 24px;
  border: none;
  background-color: inherit;
}
