.Translation {
  background-color: var(--bg-text-color);
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 25px 0px 25px;
}

@media only screen and (max-width: 800px) {
  .Translation {
    margin: 0px;
  }
  .TranslationBoxes {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .TranslationOutput {
    background-color: #538766;
    color: white;
    border-bottom: 2px solid #467e5b;
  }
}

@media only screen and (min-width: 801px) {
  .Translation {
    border-radius: 10px;
  }
  .TranslationInput {
    border-right: 1px solid #ccc;
  }
}

.TranslationDescription {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.TranslationDescription > * {
  display: flex;
  padding: 10px;
}

.TranslationBoxes {
  display: flex;
  flex-direction: row;
}

.TranslationBox {
  padding: 20px;
}
